<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="header">
        <h1>Postal Tracking Lite</h1>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/tracking">Tracking</a>
        <% if(!user) { %>
            <a href="/login">Login</a>
        <% } %>
        <% if(user) { %>
            <a href="/logout">Logout</a>
        <% } %>
    </nav>
    <div class="wrapper">
        <p>
            <% if(user) { %>
                Welcome to the landing page <%=user.email%>
            <% } %>
        </p>
        <p>Hello</p>
    </div>
</body>

</html>