body {
    background: #f5f5f5;
    font-family: monospace;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/* Index */
.header {
    background: white;
    padding: 20px;
    color: #01a0d7;
    text-align: center;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background: whitesmoke;
    padding: 20px;
    border-top: 1px solid #01a0d7;
    border-bottom: 1px solid #01a0d7;
}

nav > a {
    color: #01a0d7;
    text-decoration: underline transparent;
    font-size: 1.5rem;
    transition: 300ms ease;
}

nav > a:hover {
    text-decoration: underline #01a0d7;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



/* Login/Register */
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 2px solid #01a0d7;
    text-align: center;
    padding: 30px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.login-wrapper > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-wrapper > form > input {
    width: 200px;
    height: 30px;
    border: 1px solid #01a0d7;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

#submit-button {
    width: 210px;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #01a0d7;
    border-radius: 5px;
    background-color: #01a0d7;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}


